.node {
  padding-top: 100%;
  background: white;
  border-radius: 30%;
}

.node-start {
  background: #81894e;
}

.node-end {
  background: #de98ab;
}

.node-visited {
  background: #ff6f61;
}

.node-weight {
  background: black;
  border-radius: 50%;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.75);
    background: #ffda29;
    border-radius: 50%;
  }

  25% {
    transform: scale(1);
    background: orange;
    border-radius: 50%;
  }

  50% {
    background: red;
  }

  75% {
    transform: scale(1.5);
    background: purple;
  }

  100% {
    transform: scale(1);
    background: #ff6f61;
  }
}

.node-wall {
  background: #263056;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.5);
    background: #98ddde;
  }

  50% {
    transform: scale(1.5);
    background: purple;
  }

  100% {
    transform: scale(1);
    background: #ffda29;
  }
}
