.node {
  padding-top: 100%;
  background-color: white;
  border-radius: 30%;
}

.node-start {
  background-color: #81894e;
}

.node-end {
  background-color: #de98ab;
}

.node-visited {
  background-color: #ff6f61;
}

.node-weight {
  background-color: black;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.75);
    background-color: #ffda29;
  }

  25% {
    transform: scale(1);
    background-color: orange;
  }

  50% {
    /* transform: scale(1.2); */
    background-color: crimson;
  }

  75% {
    transform: scale(1.5);
    background-color: orangered;
  }

  100% {
    transform: scale(1);
    background-color: #ff6f61;
  }
}

.node-wall {
  background-color: #263056;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.5);
    background-color: #98ddde;
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    background-color: #ffda29;
  }
}
