.grid {
  display: flex;
  margin: 5% auto;
  width: 80vw;
  height: 40vw;
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 2%;
}

.button {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #74bdcb;
  border: none;
  color: #e7f2f8;
  height: 40px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #263056;
  height: 50px;
}
