.grid {
  display: flex;
  margin: 5% auto;
  width: 80vw;
  height: 40vw;
}

.col {
  height: 100%;
  width: 2.5%;
}

.button {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #195190;
  border: none;
  color: white;
  height: 40px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #263056;
  height: 50px;
}
